<div class='description' ng-include src="'description.html'"></div>

<div ng-controller='MainController'>
  <div class='options' ng-include src="'options.html'"></div>
  <div class='components' ng-include src="'components.html'"></div>
  <div class='foods' ng-include src="'foods.html'"></div>
  <div class='comparison' ng-include src="'comparison.html'"></div>
</div>
