<div ng-controller='MainController'>
  <div ng-include src="'options.html'"></div>
  <div ng-include src="'components.html'"></div>
  <div ng-include src="'foods.html'"></div>
  <div ng-include src="'comparison.html'"></div>
</div>
