@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  padding: 20px;
}

.radio label, .checkbox label {
  padding-left: 30px;
}

[ng-click] {
  cursor: pointer;
}

.glyphicon-title {
  display: inline-block;
}

@keyframes spin {
  to { transform: rotate(1turn); }
}

.glyphicon-refresh {
  animation: 1s infinite spin;
}

.useful {
  color: green;
}

.harmful {
  color: red;
}

.allergen {
  border-bottom: 1px dotted red;
}

.checkbox {
  margin: auto !important;
}

.description, .options, .components, .foods, .comparison {
  margin-bottom: 30px;
}
