@import 'bootstrap';

.radio label, .checkbox label {
  padding-left: 30px;
}

[ng-click] {
  cursor: pointer;
}

.glyphicon-title {
  display: inline-block;
}

@keyframes spin {
  to { transform: rotate(1turn); }
}

.glyphicon-refresh {
  animation: 1s infinite spin;
}

.useful {
  color: green;
}

.harmful {
  color: red;
}

.allergen {
  border-bottom: 1px solid red;
}
