@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  padding: 80px 20px 10px 20px;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.radio label, .checkbox label {
  padding-left: 30px;
}

[ng-click] {
  cursor: pointer;
}

.header {
  margin-bottom: 40px;

  .logo {
    margin-right: 50px;
    vertical-align: baseline;
  }
}

.glyphicon-title {
  display: inline-block;
}

@keyframes spin {
  to { transform: rotate(1turn); }
}

.glyphicon-refresh {
  animation: 1s infinite spin;
}

.useful {
  color: green;
}

.harmful {
  color: red;
}

.allergen {
  border-bottom: 1px dotted red;
}

.checkbox {
  margin: auto !important;
}

.description, .options, .components, .foods, .comparison {
  margin-bottom: 30px;
}

.comparison {
  .foods-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    .foods {
      list-style: none;
      margin: 0;
      padding: 0;

      .food {
        width: 520px;
        float: left;

        .groups {
          list-style: none;
          margin: 0;
          padding: 0 0 0 18px;

          .group {
            margin: 0 0 2px 0;

            .components {
              list-style: none;
              margin: 0;
              padding: 0 0 0 30px;
            }
          }
        }
      }
    }
  }
}
