<h5>Сравнение ({{ data.comparedFoods.length }})</h5>
<label>
  <label>
    <input type='checkbox' ng-model='options.show_same_components'>
    Показывать одинаковые компоненты
  </label>
</label>
<ul class='row foods'>
  <li class='col-lg-4 col-md-6' ng-repeat='food in data.comparedFoods track by food.id'>
    <span class='food-title'>{{ food.title }}</span>
    <span ng-click='removeFromComparison(food)' class='glyphicon glyphicon-remove' title='Удалить из сравнения'></span>
    <ul class='groups'>
      <li ng-repeat='group in food.components'>
        {{ group.group }}
        <ul class='components'>
          <li ng-repeat='component in group.components_in_group' ng-hide='sameComponentExists(component)'>
            <span ng-class="{'useful': component.useful, 'harmful': component.harmful, 'allergen': component.allergen}" title='{{component.description}}'>
              {{ component.title }} / {{ component.translation }}
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
