<div ng-show='data.comparedFoods.length'>
  <i ng-class="{'glyphicon': true, 'glyphicon-refresh': loading.comparison}"></i>
  <h5 class='glyphicon-title'>Сравнение ({{ data.comparedFoods.length }})</h5>
  <div>
    <label>
      <input type='checkbox' ng-model='options.show_same_components'>
      Показывать одинаковые компоненты
    </label>
  </div>
  <div class='foods-container'>
    <ul class='foods' food-width group-height>
      <li class='food' ng-repeat='food in data.comparedFoods | orderBy:"title" track by food.id'>
        <i class='glyphicon glyphicon-th'></i>
        <h5 class='glyphicon-title'>{{ food.title }}</h5>
        <span ng-click='removeFromComparison(food)' class='glyphicon glyphicon-remove' title='Удалить из сравнения'></span>
        <ul class='groups'>
          <li class='group' data-group='{{group.group}}' ng-repeat='group in food.components | orderBy:"group" track by group.group'>
            <i class='glyphicon glyphicon-list-alt'></i>
            {{ group.group }}
            <ul class='components'>
              <li ng-repeat='component in group.components_in_group | orderBy:"title" track by component.id' ng-hide='sameComponentExists(component)'>
            <span ng-class="{'useful': component.useful, 'harmful': component.harmful, 'allergen': component.allergen}" title='{{component.description}}'>
              {{ component.title }} / {{ component.translation }}
            </span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
