<div ng-show='showComponents'>
  <i ng-class="{'glyphicon': true, 'glyphicon-chevron-up': !showComponents, 'glyphicon-chevron-down': showComponents}" ng-click='showComponents=!showComponents'></i>
  <h5 class='glyphicon-title' ng-click='showComponents=!showComponents'>Исключить компоненты</h5>
  <div>
    Фильтр <input ng-model='component_search.title'>
    <label>
      <input type='checkbox' ng-change='selectComponents(allComponents)' ng-model='allComponents'>
      Все
    </label>
  </div>
  <ul class='row list-inline'>
    <li class='checkbox col-lg-3 col-md-4 col-sm-6' ng-repeat='component in data.components | filter:component_search | orderBy:"title" track by component.id'>
      <label>
        <input type='checkbox' ng-change='filterByComponent(component)' ng-model='component.exclude'>
          <span ng-class="{'useful': component.useful, 'harmful': component.harmful, 'allergen': component.allergen}" title='{{component.description}}'>
            {{ component.title }} / {{ component.translation }}
          </span>
      </label>
    </li>
  </ul>
</div>
<div ng-hide='showComponents'>
  <i ng-class="{'glyphicon': true, 'glyphicon-refresh': loading.components}"></i>
  <a ng-click='showComponents=!showComponents'>Выбрать исключения</a>
</div>
