<i ng-class="{'glyphicon': true, 'glyphicon-chevron-down': !showComponents, 'glyphicon-chevron-up': showComponents}" ng-click='showComponents=!showComponents'></i>
<h5 class='glyphicon-title' ng-click='showComponents=!showComponents'>Исключить компоненты</h5>
<div ng-show='showComponents'>
  Фильтр <input ng-model='search.title'>
  <label>
    <input type='checkbox' ng-change='selectComponents(allComponents)' ng-model='allComponents'>
    Все
  </label>
  <ul class='row list-inline'>
    <li class='checkbox col-lg-3 col-md-4 col-sm-6' ng-repeat='component in data.components | filter:search:strict track by component.id'>
      <label>
        <input type='checkbox' ng-change='filterByComponent(component)' ng-model='component.exclude'>
          <span ng-class="{'useful': component.useful, 'harmful': component.harmful, 'allergen': component.allergen}" title='{{component.description}}'>
            {{ component.title }} / {{ component.translation }}
          </span>
      </label>
    </li>
  </ul>
</div>
