<h5>Сравнение</h5>
<ul class='row foods'>
  <li class='col-lg-4 col-md-6' ng-repeat='food in data.comparedFoods track by food.id'>
    <span class='food-title'>{{ food.title }}</span>
    <ul class='groups'>
      <li ng-repeat='group in food.components'>
        {{ group.group }}
        <ul class='components'>
          <li ng-repeat='component in group.components_in_group'>
            <span ng-class="{'useful': component.useful, 'harmful': component.harmful, 'allergen': component.allergen}" title='{{component.description}}'>
              {{ component.title }} / {{ component.translation }}
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
