<a class='anchor' id='description'></a>

<div class='header'>
  <img src='/assets/catdog.png' class='logo'>
  <h1 class='glyphicon-title'>Поиск и сравнение кормов для котов и собак</h1>
</div>

<p>
  Здесь Вы можете выбрать подходящий для Вашей кошки или собаки корм.<br />
  Если у Вашего питомца аллергия на какой-нибудь компонент, например курицу, то Вы можете легко исключить корма, в составе которых присутствует курица.<br />
  Так же очень просто подобрать корм без вредных компонентов и возможных аллергенов.
</p>

<p>
  <span class='harmful'>Красным</span> цветом обозначены вредные компоненты.<br />
  <span class='useful'>Зеленым</span> - полезные.<br />
  <span class='allergen'>Подчеркнутые</span> компоненты - возможные аллергены.<br />
  При наведении курсора на компонент можно увидеть его подробное описание.
</p>

<p>
  Список кормов обновляется раз в неделю автоматически.<br />
  Если интересующего Вас корма нету в списке - возможно в списке уже есть очень похожий корм.<br />
  По вопросам добавления новых кормов пишите <a href='http://www.companionline.ru/private.php?do=newpm&u=2' target='_blank'>сюда</a>.
</p>
