<nav class='navbar navbar-default navbar-fixed-top' role='navigation' ng-controller='NavigationController'>
  <div class='container'>
    <ul class='nav navbar-nav'>
      <li><a ng-click="scrollTo('description')">О поиске</a></li>
      <li><a ng-click="scrollTo('options')">Параметры</a></li>
      <li><a ng-click="scrollTo('components')">Компоненты</a></li>
      <li><a ng-click="scrollTo('foods')">Корма</a></li>
      <li><a ng-click="scrollTo('comparison')">Сравнение</a></li>
    </ul>
  </div>
</nav>
